{% extends 'index.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section class="banner-container">
    <div class="container">
        <div class="left-section">
            <h1>Welcome to Nutshell</h1>
            <p>A Powerful Sales CRM that helps you sell smarter and close deals faster.
                Nutshell CRM is the true customer-centric tool for your sales needs. Track leads, get accurate forecasts, and focus on what matters: closing opportunities.</p><br>
            <h2 style="color: white; font-size: 30px; letter-spacing: 1px;">Nutshell...Customer Relationship Management at it's finest !</h2>
            <p style="letter-spacing: 1px;" >Keep track of your records effectively</p><br>
            <h2 style="color: white; font-size: 30px; letter-spacing: 1px;">Why do you need a CRM strategy ?</h2>
            <p>Creating a CRM strategy ensures that you get the most out of your software. It clarifies why you’re using 
                the software and how its impact aligns with your overall business strategy and goals. 
                Plus, a defined strategy gets your entire organization on the same page and focused on achieving the same goals.
                CRM tools do a lot. They give companies a centralized platform for organizing data and communicating with customers. 
                And they allow you to manage relationships throughout the entire customer lifecycle, spanning interactions across several multichannel touchpoints.
                With this robust functionality, countless benefits are available to those who implement a CRM. Creating a CRM strategy helps 
                you find the gap in your current systems and processes so that you use the software in the manner that will have the greatest impact 
                on the overall health of the business. Keep in mind that your CRM strategy will depend on the size of your business. 
                A start-up or small business will have much different needs than those of a mid-sized business or even an enterprise. As you read through the 
                objectives below, consider the lens of the size of your business.
            </p><br>
            <h2 style="color: white; font-size: 30px; letter-spacing: 1px;">Our 5 Objectives</h2>
            <ul style="color: white; font-size: 14px; letter-spacing: 1px; line-height: 25px;">
                <li>Improve the buyer’s journey</li>
                <li>Improve operational efficiency</li>
                <li>Increase customer retention</li>
                <li>Lower your customer acquisition cost</li>
                <li>Generate more sales</li>
            </ul>
            
        </div>

    </div>


</section>
{% endblock %}